
<header>
    <div id="all">
        <div id="left">
            <a href="/" title="回首页"><span>知秋</span></a>
        </div>
        <div id="middle">
            <ul>
                <li class="head_nav">发现</li>
                <li class="head_nav">关注</li>
                <li class="head_nav mes_nav ">消息
                    <ul class="mes">
                        <li><a href="#">评论</a></li>
                        <li><a href="javascript:">星火</a></li>
                        <li><a href="javascript:">喜欢和赞</a></li>
                        <li><a href="javascript:">关注</a></li>
                        <li><a href="javascript:">赞赏</a></li>
                        <li><a href="javascript:">其他</a></li>
                    </ul>
                </li>
                <li class="head_nav"><label><input  placeholder="搜索" id="search" autocomplete="off"></label></li>
            </ul>
        </div>
        <div id="right">
            <ul>
                <li class="right_nav">Aa</li>
                <li class="right_nav mes_nav">
                    <% if(user!==null) { %>
                        <% if(user_head!==null) { %>
                            <div id="user_come" style="background-image: url('.<%- user_head%>')">
                                <span class="user-face" style="display: none"><%=user%></span>
                            </div>
                        <%}else{%>
                            <div id="user_come" >
                                <span class="user-face" style="display: none"><%=user%></span>
                            </div>
                        <%}%>
                    <ul class="mes">
                        <li><a href="/user/<%=user%>" target="_blank"> 我的主页</a></li>
                        <li><a href="javascript:">收藏的文章</a></li>
                        <li><a href="javascript:">喜欢的文章</a></li>
                        <li><a href="javascript:">帮助与反馈</a></li>
                        <li><a href="/infoset">设置</a></li>
                        <li><a href="/getout">退出</a></li>
                    </ul>
                    <% } else { %>
                    <a href="/login">登录</a>
                    <% } %>
                </li>
                <li class="right_nav write_art"><a href="/writeArt">写文章</a></li>
            </ul>
        </div>
    </div>

</header>