<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知秋</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/com_header.css">     <!--导航样式表-->
    <link rel="stylesheet" href="./css/com_article.css">   <!--文章css样式表-->
    <!--<link rel="shortcut icon" href="./pic/favicon.ico" type="image/x-icon" />-->
</head>
<body>
    <div id="home_top">
        <%- include com_header.ejs %>   <!--头部-->
    </div>
   <div  id="home_mid" >
       <%- include com_article.ejs %>   <!--文章-->
       <div class="good-show">
            <div class="good-art">
                <h3><a href="javascript:">鼎折覆餗</a></h3>
            </div>
           <div class="good-art" style="background-image: url('./pic/p-1.jpg')">
               <h3><a href="javascript:">纸鸢</a></h3>
           </div>
           <div class="good-art" style="background-image: url('./pic/p-2.jpg')">
               <h3><a href="javascript:">细雨</a></h3>
           </div>
       </div>
   </div>
   <div class="add-animate">
       正在加载中.......           <!--加载动画-->
   </div>
    <div class="more">
        <div class="stop-more">(〃'▽'〃)</div>
        more
    </div>    <!--获取更多文章-->
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/home.js"></script>
</html>