<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOB</title>
    <link rel="stylesheet" href="./css/loginNO2.css">
</head>
<body>
    <div id="header">
         <div id="h_left">
              <a href="javascript:">然也</a>
         </div>
        <div id="h_right">
            <a href="javascript:">关于我们</a><a href="javascript:;">加入我们</a>
            <a href="javascript:">问题</a><a href="javascript:;">彩蛋</a>
        </div>
    </div>

    <div id="center">
           <div id="user-up">
               <img src="./pic/logincat.gif" class="log-pic" alt="cat">
               <div id="log">
                      <h1>欢迎登录</h1>
                       <input class="log-form u_account" id='1' placeholder="请输入账号:" autofocus >
                       <input class="log-form u_password" type="password" placeholder="请输入密码:">
                       <div class="line">密码错误</div>
                       <input type="submit" value="登录" class="login"><br>
                       <a href="">注册</a>
               </div>
           </div>
    </div>
    <div id="footer">
        <div class="welcome">
            <span>1000个故事在这里诞生</span>
            <span>插画作者   ---巴颜格日顺</span>
        </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>