<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" href="./css/writeArticle.css">
</head>
<body >
    <div id="showPic">
        背景嘞
    </div>
   <div id="home">
       <div id="navigator">
           <div id="btn">
               <a href="/">回首页</a>
           </div>
           <div id="mascot">
               <% if(!user_head){%>
               <img src="./pic/user_tou/tou-3.jpg" alt="头像" title="没错 可爱的你">
               <%}else {%>
               <img src=".<%=user_head%>" alt="头像" title="没错 可爱的你">
               <%}%>
               <div>
                   <ul id="my-list">
                       <li>2018-5-12</li>
                   </ul>
               </div>
           </div>
       </div>
       <div id="content">
           <div id="title"><label><input id="getTitle"  class="my-title" placeholder="请输入标题" autocomplete="off"></label></div>
           <div id="div1" class="toolbar">
           </div>
           <div id="con_sup">   <!--内容支持-->
               <div id="div2" class="text">
               </div>
           </div>
           <div id="upload">
               上传
           </div>
       </div>

   </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="./js/wangEditor.min.js"></script>
<script src="./js/writeArticle.js"></script>
</html>