body{
    //background-color: rgb(253, 253, 253);
    background: url("../pic/timg.jpg") 100% 100%/cover fixed no-repeat;
    background-size: 60%;
}
#home_top{
    height: 50px;
    position: fixed;width: 100%;
    top:0;z-index: 999;
}
#main{
    width:700px;
    margin: 100px auto 0;
    background-color: white;
    padding: 20px 20px 0;
    //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
}
.title{
   color: #3d4648;text-align: center;margin: 20px 0 30px;
}
.author{
    height: 100px;width: 100%;line-height: 100px;
    //background-color: #a29bfe;
    background: linear-gradient(45deg, rgba(162, 155, 254, 0.7) 25%, rgba(108, 92, 231, 0.7));
    //background: linear-gradient(45deg, rgba(64, 178, 45, 0.75) 25%, rgb(64, 178, 45));
    border-radius: 5px;
    margin: 10px 0;
}
a{
    text-decoration: none;
}
.user-img{
    width: 50px;height: 50px;border-radius: 50%;vertical-align: middle;
    margin: 0 10px;
}
.author-info{
    height: 80px;width: calc(100% - 70px);float: right;line-height: 30px;margin-top: 20px;
}
.author-info a:first-child{
    color: #f5fcff;font-size: 14px;font-family: Lucida;margin-left: 5px;
    background-color: #fdcb6e; padding: 0 5px;border-radius: 5px;
}
.author-info a:nth-of-type(2){
    background-color: #ff7675;color: white;border-radius: 5px;margin-left: 10px;
    padding: 0 5px;font-size: 14px;
}
.author-info a:nth-of-type(2):hover{
    background-color: rgba(255, 55, 56, 0.73);
}
.author-info span{
    color: #ebf2f5;font-size: 12px;margin: 0 5px;//line-height: 12px;

}
.article img{
    //height: 500px; margin: 10px 0;border-radius: 5px;
    transition: all .3s;cursor: pointer;

}
.article img:hover{
    box-shadow: 0 2px 15px 0 rgba(17, 17, 17, 0.3);
    transform:scale(1.02);transition: transform .3s;
}
.article{
    padding: 10px 0;color: rgba(47, 47, 47, 0.96);
    font-weight: 400;font-size: 16px;
    line-height: 1.7;letter-spacing: 1px;font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.navigation{
    position: fixed;right: 20px;bottom:40px ;width: 50px;border: 1px solid rgba(128, 128, 128, 0.46);
    display: none;
}
li{
    list-style-type: none;
}
.navigation li{
    width: 100%;height: 50px;line-height: 50px;text-align: center;color: #8f9889;
    display: block;cursor: pointer;
}
.big-pic{
    height: 80%;width: 80%;position:fixed;top: 10%;left: 10%;
    display: none;background-size:cover;background-position: center;border-radius: 10px;z-index: 10;
    box-shadow: 0 2px 15px 0 rgba(17, 17, 17, 0.3);
}
#comment{
    //background-color: #515a66;
    margin-top: 10px;padding-top: 20px;
}
.comment-all{
    width:740px;
    margin: 0 auto ;//background-color: #ffbe76;//height: 600px;
}
.comment-text{
    width: 100%;min-height: 150px;
    //background-color: #383d44; position: relative;
    background-color: white;
    transition: height .5s;
    border-top: 2px solid rgba(255, 69, 0, 0.8);
}
.comment-text textarea,.comment-word{
    width: 610px;height: 90px;float: right;resize: none;font-size: 14px;
    font-family: 微软雅黑;padding:5px;outline: none;margin: 20px 20px 0 0;
    background-color: rgb(252, 252, 254);color: #403e40;border-radius: 5px;
    border: 1px solid rgba(191, 191, 191, 0.25);transition: all .5s ease-out;
}

.comment-text:after{
    content: '';
    display: none;
    height: 0;width: 0;
    border: 20px solid transparent;position: absolute;
    border-right-color: rgb(250, 250, 252);
    top:20px;left:60px;border-radius: 5px;
}
.comment-word:hover{
    border: 1px solid rgba(46, 122, 30, 0.4);
    transition: all .5s ease-out;
}
.user-comment:after{
    content: '';display: block;clear: both;
}
.reply-word{
    display: block;margin:10px 0 10px 10px;float: none;height: 60px;border: 1px solid rgba(64, 178, 45, 0.3);
    width: calc(100% - 10px );box-sizing: border-box;font-family: 微软雅黑;
}
.reply-word:focus{
    border: 1px solid rgba(64, 178, 45, 0.8);
}
.user-comment-up {
    height: 30px;padding: 5px 0;
}
.user-comment-up a{
    float: right;color: rgb(118, 118, 118) !important;line-height: 30px;margin-right: 10px;
    font-size: 14px;
}
.user-comment-up a:hover,.comment-up a:hover{
    text-decoration: underline;
}
.user-me-up{
    width: 50px;height: 30px;float: right;background-color: rgba(64,178,45,0.8);line-height: 30px;
    color: white;text-align: center;border-radius: 5px;font-size: 14px;cursor: pointer;
}
.my-head{
    height: 45px;width:45px;border-radius: 50%;margin: 20px 25px 0;
    cursor: pointer;border:1px solid rgba(135, 205, 41, 0.2);
}
.comment-up{
    height: 35px;width: 100%;
    margin-top: 70px;display: none;position: relative;
}
.comment-up-me{
    float: right;line-height: 35px;width:70px;background-color: #f9ca24;
    text-align: center;color: white;margin-right: 30px;border-radius: 5px;
    font-size: 14px;cursor: pointer;margin-bottom: 5px;
}
.comment-up-stop{
    width:70px;height: 35px;background-color: rgba(0, 0, 0, 0.56);
    position: absolute;top: 0;right: 30px;display: none;border-radius: 5px;
}
.comment-up a{
    line-height: 35px;float: right;margin: 0 15px;color: #8f9889;
    font-size: 14px;
}
.comment-up-animate{
    clear: both;height: 2px;
    background: linear-gradient(45deg, rgb(255, 112, 216) 25%, rgb(255, 117, 80));
    margin: 0 30px 0 100px;display:none;
    transform-origin: 0 50%;transform:rotateY(90deg);
}
.comment-list{
    //background-color: #383d44;//height: 300px;margin:10px 0;//padding: 10px;
}
.comment-list-head{
    height: 30px;//background-color: #fafafc;line-height: 30px;margin: 0 ;
    border-bottom: 1px solid rgba(190, 190, 190, 0.4);
}
.comment-list-head span{
    color: #323334;font-weight: 400;font-family: "Agency FB";padding: 5px 10px;
    color: rgba(67, 191, 69, 1);border-bottom: 2px solid rgba(40, 149, 40, 0.9);
    cursor: pointer;
}
.comment-list-head-sort{
    float: right;width: 150px;text-align: center;
}
.comment-list-head-sort a{
    font-size: 12px;color: #666869;
}
.comment-list-head-sort a:hover{
    color: #565758;text-decoration: underline;
}
@keyframes comment-animate-left {
    0%  { left:30px }
    33%  {left: -15px}
    100% { left: 0}
}
@keyframes comment-animate-right {
    0%   {left:-30px }
    33%  {left: 15px}
    100% { left: 0}
}
.comment-list-custom{
    //height: 300px;//background-color: #fafafc;
    padding: 10px 10px;//border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    position: relative;border-bottom: 1px solid rgba(190, 190, 190, 0.4);
}
.comment-list-custom img{
    height: 40px;width: 40px;
    border-radius: 50%;vertical-align: text-top;
    float: left;border:1px solid rgba(0, 128, 0, 0.2);
}
.comment-list-info-1{
    float: left;line-height: 20px;font-size: 12px;padding: 0 10px;
    color: white;height: 60px;
}
.comment-list-info-1 a,.reply-comment{
    background: url("../pic/reply.png") 30% 60%/cover no-repeat;
    background-size: 16px;padding: 0 0 0 32px; color: #7e7e7e;
}
.comment-list-info-1 a:hover,.reply-comment:hover{
    background: url("../pic/replyl.png") 30% 50%/cover no-repeat;background-size: 16px;
    color: #393939 !important;
}
.comment-list-info-2{
    clear: both;margin: 10px 10px 0 50px;font-family:微软雅黑;color: #6c6a6c;
    font-size: 14px;padding: 10px;//background-color: rgba(223, 223, 223, 0.5);
    position: relative;line-height: 20px;
    //background: linear-gradient(-145deg,transparent 10px,rgba(223, 223, 223, 0.5 ) 10px, rgba(223, 223, 223, 0.5 ) 100%);
}
.comment-list-info-2:after{
    content: '';
    display: none;width: 0;height: 0;border: 15px solid transparent;
    position: absolute;border-bottom-color: rgba(223, 223, 223, 0.5);
    top:-30px;
}
.comment-list-back{
    //background-color: #f4a720;
    border-left: 1px solid rgba(66, 191, 46, 0.66);margin-left: 55px;line-height: 25px;color: #717273;
    margin-top: 5px;
}
.back-list{
    //background-color: rgba(129, 207, 142, 0.05);margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
}
.back-list a{
    color: #3194d0;font-size: 14px;font-weight: 500;
}
.back-list span{
    font-family: 微软雅黑;color: rgba(76, 77, 78, 1);font-size: 14px;
}
.back-list-time{
    font-size: 12px !important;color: rgba(76, 77, 78, 0.6) !important;

}
.no-comment{
    //background-color: #eff7eb;text-align: center;color: #838a7e;font-size: 14px;
    height: 50px;line-height: 50px;display: none;border-top: 1px solid rgba(190, 190, 190, 0.4);
}
.comment-people{
    background-color: rgba(255, 124, 35, 0.49);color: white;line-height: 16px;padding: 0 2px;
}
.comment-time{
    font-size: 12px;color: rgba(28, 29, 30, 0.5);
}
.comment-page{
    height: 35px;margin: 20px 0;
}
.page-pre,.page-next,.page-count{
    width: 60px ;height: 100%;background-color: #ffffff;outline: none;border: 1px solid rgba(57, 139, 68, 0.6);
    float: left;font-family: "Agency FB";color: rgba(57, 139, 68, 0.8);font-size: 14px;
}
.page-count{
    font-family: Arial;
}
.page-pre:hover,.page-next:hover,.page-count:hover{
    background-color: rgba(57, 139, 68, 0.8);color: white;border: none;
}
.page-num{
    width: 620px;height: 100%;float: left;display: flex;justify-content: center;
}
.page-count{
    width: 31px;height:31px;margin: 2px 5px;
}
button{
    cursor: pointer;
}
#footer{
    height: 200px;background-color: #2d333c;margin-top: -10px;width: 100%;
}
.reply-comment{
    font-size: 12px !important;color: #7e7e7e!important;font-weight: 500 !important;

}
.reply{

}