html,body{
    height: 100%;
}
body{
    padding: 0;//overflow-x: hidden;overflow-y: hidden;
    margin: 0;background: url("../pic/timg3.jpg") center/cover;
}
#nav_top{
    height: 50px;
    position: fixed;width: 100%;
    top:0;z-index: 999;opacity: .98;
}
#home{
    height: 90%;width: 80%;min-width: 1100px;min-height: 700px;
    margin: 0 auto;z-index: 2;max-width: 1335px;
    position: relative;display: none;padding:2%;padding-top:60px;
}
/*......................短短的分割线....右边部分.........................................................*/
#con_sup{
    width: 100%;height: calc(100% - 90px);  /* 31（自己的paddding）+55+2(.my-title 的高)*/
}
.text {
    border: 1px solid #ccc;
    height: 100% ;
    width:100%;font-family: Arial;color: #3d3d3d;
}
#content{
    width:80%;height: 100%;
    float: left;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}
#title{
    border: 1px solid #ccc ;box-sizing: border-box;
}
#title label{
    width:100%
}
.my-title{
    border: 0;outline: none;height: 55px;width: 100%;text-align: center;
    font-size: 25px;line-height: 55px;color: #454545;
}
/*......................短短的分割线....左边部分了.........................................................*/
#navigator{
    width: 20%;float: left;height: 100%;
    background-color: rgb(144, 166, 179);
    position: relative;
}
a{
    text-decoration: none;
}
.btns{
    position: absolute;bottom: 0;left: 0; width: 100%;
}
.btn{
    margin: 20px auto 20px;box-sizing: border-box;background-color: #ffb120;width: 80%;
    height: 40px;border:1px solid rgba(255, 165, 0, 0.47);
}
.btn-2{
    background-color: #f94242;
}
.btn a{
    display: block;line-height: 40px;text-align: center;font-size: 1.0em;color: #ffffff;
    font-family: 宋体;
}
.btn-2:hover{
    background-color: #e23e3e;
}
.btn-1:hover{
    background-color: #f0a420;
}
.w-e-menu{
    transition: all .5s ease-out;
}
.w-e-menu:hover{
    background-color: rgba(202, 202, 202, 0.7);
    transition: background-color .5s ease-out;
}
#mascot{
    margin-top: 50px;
}
#mascot img{
    height:150px;width:150px;background: red;border-radius: 50%;margin: 0 auto;display: block;
}
li{
    list-style-type: none;color: white;font-size: 14px;padding: 10px 0;text-align: center;
    border-bottom: 1px solid rgba(230, 230, 230, 0.44);
}
#my-list{
    padding: 0;
}
#upload{
    position: absolute;right: -80px;bottom: 0;
    width: 80px;height: 40px;//background-color: #ff2e34;color: rgba(255, 255, 255, 0.73);
    text-align: center;line-height: 40px;font-size: 16px;cursor: pointer;
    background: linear-gradient(-135deg,transparent 10% , #ff2e34 100%);
}
#upload:hover{
    background: linear-gradient(-135deg,transparent 10% ,#ff2e34 10%, #ff2e34 100%);

}
.w-e-text p img{
    width: 350px;
}
