
*{
    padding: 0;
    margin: 0;
}
@keyframes background-animate {
    0% { background-position-x:10% ;background-position-y: 0}
    30%{ background-position-x:0;background-position-y: 10%}
    100%{ }
}
body,html{
    height: 100%;
    background: url("../pic/login-3.jpg")  no-repeat,#fef9db;//min-width: 1000px;
    background-size: cover;
    //animation: background-animate 5s infinite  alternate;
}
#header{
    height: 50px;//border-bottom: 1px solid #004b3f;
    transition: all 2s ease-out;
}

#header #h_left{
    height: inherit;width: 70px;
    float: left;
}
a{
    text-decoration: none;
}
#header #h_left a{
    //background-color: #463f46;display: block;
    color: rgba(102, 169, 102, 0.76);font-size:28px;font-weight:600 ;
    line-height: 50px;padding-left: 10px;letter-spacing: 2px;
}
#header #h_right{
    float: right;
}
#header #h_right a{
    display: block;line-height: 50px;font-size: 14px;
    float: left;color: rgba(46, 108, 117, 0.86);padding: 0 12px;font-family: "Agency FB";
}
#header #h_right a:hover{
    background-color: rgba(240, 108, 83, 0.86);color: #fbffff;
    transition: all .3s ease-out;
}
#center{
     width: 100%;
    position: relative;
    //min-height: 600px; //background-color: rgb(194, 225, 254);
    top: calc(50% - 350px);overflow: hidden;
}
#center:after,#user-up:after{
    content: '';
    display: none;
    clear: both;
}
@keyframes shadow {
    to {box-shadow: 0 0 0 20px rgba(253, 253, 255, 0.36); }
}
#user-up{
    //background-color: #f4a720;margin:0 auto;
    width:850px ;height:500px;//border: 1px solid  #c7b4cc;
    position: relative;
    //box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.02);
    //animation: shadow 2s infinite alternate;
}

#user-up img{
    float: left;display: block;height: 500px;//filter: blur(2px);
    //opacity:0.96;
}
#log{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width:350px;padding-top:80px;
    float: right;box-sizing: border-box;//border: 1px solid  #c7b4cc;
    position: relative;//display: none;
}
#register{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width:350px;padding-top:30px;
    float: right;box-sizing: border-box;
   //position: relative;
    position: absolute;right: -2px;top:0;
    transform: rotateY(270deg);
    transform-origin: 100% 50%;
    transition:all .8s ease-out;
}
@keyframes xianY {
    to {  height: 100%; }
}
@keyframes xianX {
     to { transform:rotateY(90deg) }
 }
#log:after{
    content: '';
    display: block;
    height: 0;width: 2px;background: linear-gradient(45deg, rgba(224, 86, 253, 0.73) 25%, rgba(190, 46, 221, 0.72));
    position: absolute;
    top: 0;left: 0;
    transform-origin: 0 0;animation: xianY 3s  linear infinite alternate;
}
#log:before{
    content: '';
    display: block;
    height:2px;width: 100%;background: linear-gradient(45deg, rgba(162, 155, 254, 0.7) 25%, rgba(108, 92, 231, 0.7));
    position: absolute;
    top: 0;left: 0;
    transform-origin: 0 0;animation: xianX 3s linear infinite alternate;
}
#user-up:after{
     content: '';
     display: block;
     height: 0;width: 2px;background: linear-gradient(45deg, rgba(224, 86, 253, 0.73) 25%, rgba(190, 46, 221, 0.72));
     position: absolute;
     bottom: 0;right: -3px;
     transform-origin: 0 100%;animation: xianY 3s  linear infinite alternate;
 }
#user-up:before{
    content: '';
    display: block;
    height:2px;width: 350px;background: linear-gradient(45deg, rgba(162, 155, 254, 0.7) 25%, rgba(108, 92, 231, 0.7));
    position: absolute;
    bottom: -2px;right: -3px;
    transform-origin: 100% 0;animation: xianX 3s linear infinite alternate;
}
#log h1,#register h1{
    color: #c7b4cc;text-align: center;
    margin-bottom: 30px;padding-top: 10px;
}
#register h1{
    color: #df9d2d;//color: rgba(255, 7, 9, 0.46);
}
.log-form {
    width: 300px;height: 40px;outline: none;display: block;
    font-size: 16px;font-family: 微软雅黑;
    border:none; border-bottom: 2px solid rgba(135, 158, 174, 0.77);margin: 15px auto;
    background-color: rgba(0, 0, 0, 0);color: rgb(70, 70, 71);
    padding-left: 10px;
}
.reg-form{
    width: 300px;height: 40px;outline: none;display: block;
    font-size: 14px;
    border:none; border-bottom: 1px solid rgba(59, 100, 61, 0.42);margin: 15px auto;
    background-color: rgba(0, 0, 0, 0);color: rgb(70, 70, 71);
    padding-left: 10px;
}
.line,.register-line{
    height: 25px;//border: 1px solid orange;width: 80%;margin-left: 10%;margin-top: 20px;
    font-size: 14px;color: #fefffd;text-align: center;line-height: 25px;border-radius: 12px;
    display: none;background-color: #f4a720;
}
.register-line{
    font-size: 12px;;background-color: #11b615;
}
.log-form:focus {
    border-bottom: 2px solid #f0932b;
    transition: all .5s ease-out;
}
.login,.register{
    height: 40px;width: 280px;margin: 30px auto 0;display: block;
    background-color: #0983de;border: none;cursor: pointer;outline: none;
    font-weight: 600;font-size: 18px;color: white;border-radius:5px;
}
.register{
    background-color: #e60706;
}
.register:hover{
    background-color: #c70706;
}
.login:hover{
    background-color: #0973cc;
}
#register a{
    font-size: 14px;font-family: 微软雅黑;color: #004b3f;margin-right: 35px;
    float: right;
}
#register a:hover{
    text-decoration: underline;
}
#log a{
    display: block;
    margin: 0 auto;text-align: center;
    height: 40px;width: 250px;background-color: rgba(255, 55, 56, 0.74);line-height: 40px;
    font-weight: 600;font-size: 18px;color: white;border-radius:5px;
}
#log a:hover{
    background-color: rgba(255, 55, 56, 0.83);
}
.reg_account{

}
.check-account{
    width: 35px; position: absolute;right: 25px;top: 120px;color: #333435;
    outline: none;
}


#footer{
    position: relative;width: 100%;
}
.welcome{
    width: 100%;margin: 20px auto;font-size: 80px;color: rgba(255, 189, 111, 0.4);
    text-align: center;//background-color: #f4a720;font-family: "Agency FB";
}
.welcome span{
    //width: 850px;display: block;
}
.welcome span:last-child{
    font-size: 16px;color: rgba(244, 167, 32, 0.4);
}
